main{
    background: rgb(217, 237, 247);
}

.homepage{
    height: 100%;
    text-align: center;
    font-size: 72px;
    text-shadow: 5px 5px white;
    color: rgb(13, 13, 160);
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0;
    /* background-color: rgb(217, 237, 247); */
}

/* .logo {
    width: 100%;
    height: auto;
} */

.app-logo {
    animation: app-logo-spin infinite 4s alternate;
    height: 60vmin;
    pointer-events: none;
    /* transform: 1s; */
  }
  
  /* .logo:hover {
    rotate: 360deg;
  } */

@keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
.welogo{
  z-index: 99;
}

.box-gallery{ 
  z-index: -10;
  height: 100%;
  /* margin-bottom: 0; */
  position: absolute;
}
