main{
    background: rgb(217, 237, 247);
}

.homepage{
    height: 100vh;
    text-align: center;
    font-size: 72px;
    color: blue;
    font-family: 'Kaushan Script', cursive;
    background-color: rgb(217, 237, 247);
}

/* .logo {
    width: 100%;
    height: auto;
} */

.app-logo {
    animation: app-logo-spin infinite 4s alternate;
    height: 60vmin;
    pointer-events: none;
    /* transform: 1s; */
  }
  
  /* .logo:hover {
    rotate: 360deg;
  } */

@keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }



