.quiz{
    background-image: url('https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
    background-size: cover;
    height: 100%;
    width: 100%;
}
.quizname {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%; 
    display: inline-block;
    background-color: rgb(217, 237, 247);
    
} 

.quizname:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

h1 {
    font-size: 72px !important;
    color: blue !important;
    margin-top: 0px !important;
    margin-bottom: 0px;
    font-family: 'Kaushan Script', cursive;
}

.quizlist {
    display: inline-block;
    margin: auto;
}

.Component-Bg {
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    background-image: url('https://images.unsplash.com/photo-1531030164-9f5d1e626a0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80');
    text-align: center;
}
.quizsel{
    text-align: center;
    font-size: 72px;
    color:blue;
    font-family: 'Kaushan Script', cursive;
}
  
.Component-BgQuiz{
    height: 100vh;
    padding-left: 10px;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1468421870903-4df1664ac249?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80')    
}
  
.inputbox {
  background-color: rgb(217, 237, 247);
}
  
.inputname {
    background-color: rgb(217, 237, 247);
}
  
label{
    font-size: 24px;
    text-shadow: 2px 2px black;
    color: rgb(217, 237, 247);

}
.inquiz{
    font-size: 24px;
    color: rgb(15, 16, 17);  
}
.inname{
    font-size: 24px;
    color: rgb(15, 16, 17);  
}
.indesc{
    font-size: 24px;
    color: rgb(15, 16, 17);   
}
.Addquestion{
background-image: url ('https://images.unsplash.com/photo-1503179045491-22d8261b941a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
font-family: 'Kaushan Script', cursive;
}
.thanks{
    height: 100vh;
    width: 100vh;
    background-image: url('https://images.unsplash.com/photo-1526614180703-827d23e7c8f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
}
.qauthor{
    font-size: 24px;
    color: rgb(217, 237, 247);
    text-shadow:(2px 2px rgb(5, 5, 5));
}
.quizdesc{
    font-size: 24px;
    color: rgb(217, 237, 247);
    text-shadow:(2px 2px rgb(5, 5, 5));
}
.Fscore{
    font-size: 24px;
    color: rgb(217, 237, 247);
    text-shadow:(2px 2px rgb(5, 5, 5));  
}

.required {
    color: rgb(217, 237, 247);
    text-shadow:(1px 1px rgb(5, 5, 5));
}